@charset "UTF-8";

:root{ 
    --cor1:#354870;        
    --cor2: #9d8b9b;
    --cor3: #dbc1b6;

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {/*tablet*/
        background-image: linear-gradient(to top, var(--cor2), var(--cor3), var(--cor1));
    }
    div#form {
        text-align: center;
    }

    section#login {
        width: 80vw;
        height: 250px;
    }   
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#form {
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    body { /*desktop*/
        background-image: linear-gradient(to top, var(--cor2), var(--cor3), var(--cor1));
    }

    div#form {
        text-align: center;
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#form {
        float:right;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1em;
    }
}